alembic==1.17.0
annotated-types==0.7.0
anyio==4.11.0
asyncpg==0.30.0
black==25.9.0
click==8.3.0
colorama==0.4.6
fastapi==0.119.1
flake8==7.3.0
greenlet==3.2.4
h11==0.16.0
httptools==0.7.1
idna==3.11
isort==7.0.0
Mako==1.3.10
MarkupSafe==3.0.3
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pydantic==2.12.3
pydantic_core==2.41.4
pyflakes==3.4.0
python-dotenv==1.1.1
pytokens==0.2.0
PyYAML==6.0.3
sniffio==1.3.1
SQLAlchemy==2.0.44
SQLAlchemy-Utils==0.42.0
starlette==0.48.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.38.0
watchfiles==1.1.1
websockets==15.0.1
